{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid my-5">
        <div class="position-sticky d-flex flex-column align-items-center">
            <h1 class="display-xs">Welcome to Squandered</h1>
            <p class="lead">Please enter your credentials below</p>
            <div class="flex-box flex-row justify-content-center">
                <form method="POST" action="{% url 'profile login' %}" style="text-align:center;">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary  mt-3">Log In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}