{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5" style="text-align:center;">
        <h4 class="display-4">Add New Expense</h4>
        <div class="row justify-content-md-center">
            <div class="col-6">
                <form method="POST" action="{% url 'add expense' %}">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-success mt-3">Add</button>
                    <a  class="btn btn-secondary mt-3" href="{% url 'add expense category' %}">Add New Category</a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}